 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row" style="background-image" src="img/Test Maze.gif">
				 <div > 
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="">
                </div>

                <div class="col-lg-4 col-lg-offset-2">
                    <p>You can find me at the center of the Venn diagram of engineers, programmers, and mechanics. Specifically, I enjoy the math and programming behind the things that I build. Whether I'm analyzing the parts and flight path of my trebuchet or adding 'just one more' unnecessary-but-fun feature to a programming project, I find a way to incorporate many of my interests into each project.</p>
                </div>
                <div class="col-lg-4">
                    <p>It wasn't until shortly before college that I decided to pursue engineering. I dual enrolled in residential construction and machine tool technology, giving me 
					insight and appreciation for the jobs that rely on an engineer's analysis or design. My goal is to bridge the gap between the worlds by continuing to improve my 
					fabrication skills, resulting in a well-rounded knowledge base.</p>
                </div>

            </div>
        </div>
    </section>
