 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row" style="background-image" src="img/Test Maze.gif">
				 <div > 
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="">
                </div>

                <div class="col-lg-4 col-lg-offset-2">
                    <p>Specifically, I enjoy the math and programming behind the things that I build. Whether I'm analyzing the parts and flight path of my trebuchet or experimenting with silly projectile effects in a game, I find a way to incorporate many of my interests into each project.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am currently in a middle school romance with machine learning. It's awkward and neither of us really knows what it means or how to commit. Eventually I will build that AI-controlled foam plane. </p>
                </div>

            </div>
        </div>
    </section>
