<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/profile.png" alt="profile-pic" />
        <div class="intro-text">
          <span class="name">
		<span style="color:#eafa39"> Hello. </span> My name is Connor McKinney.
	  </span>
          <hr class="" />
          <span class="skills">{{ site.tagline }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="imgcontainer">
			<img class="img-responsive" src="img/venn2.png" alt="profile-pic" width="562" height="421" style="float:right;position:relative; z-index:100;left:-500px; top:-50px;"/>
		</div>
</header>


