<!-- Header -->
<header>


	
	<div id="videoDiv2"> 
	<video id="video2" preload="auto" autoplay muted playsinline loop>
	<source src="img/new_color_maze.mp4" type="video/mp4">
	</video> 
		<div id="videoMessage2" class="styling">
			<div class="row" style:"position:absolute">
				<div class="col-lg-12">
					<img class="img-responsive" src="img/profile_circle_resize.png" alt="profile-pic" style="width:300px;height:300px;" />
					<div class="intro-text">
						<span class="name">
							<span style="color:#eafa39"> Hello. </span> My name is Connor McKinney.
						</span>
						<hr class="" />
						<span class="skills">{{ site.tagline }}</span>
						<div class="imgcontainer">
						<img class="img-responsive" src="img/venn2.png" alt="profile-pic" width="562" height="421" style="position:absolute; z-index:100;left:80%; top:110%;"/>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--
  <div class="container">
	<video autoplay muted loop id="myVideo">
		<source src="img/python_maze_2.mp4" type="video/mp4" style="z-index: -1">
	</video>
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/profile.png" alt="profile-pic" />
        <div class="intro-text">
          <span class="name">
		<span style="color:#eafa39"> Hello. </span> My name is Connor McKinney.
	  </span>
          <hr class="" />
          <span class="skills">{{ site.tagline }}</span>
		    <div class="imgcontainer">
			<img class="img-responsive" src="img/venn2.png" alt="profile-pic" width="562" height="421" style="position:absolute; z-index:100;left:80%; top:110%;"/>
		</div>
        </div>
      </div>
    </div>
  </div>
-->
</header>


