<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/profile.png" alt="profile-pic" />
        <div class="intro-text">
          <span class="name">
		<span style="color:#eafa39"> Hello. </span> My name is Connor McKinney.
	  </span>
          <hr class="" />
          <span class="skills">{{ site.tagline }}</span>
	  <img class="img-responsive" src="img/venn2.png" alt="profile-pic" width="750" height="562" style = "position:relative; left:-700px; top:-500px;"/>
        </div>
      </div>
    </div>
  </div>
</header>
